@use 'assets/styles/variable' as v;

.home-page {
  height: 100%;
  position: relative;
  .container {
    height: 100%;
    .banner{
      width: 50%;
    }
    .content {
      width: 50%;
      h1 {
        font-size: 4rem;
        text-align: center;
        margin-bottom: 20px;
      }
    }
  }
}