@use 'assets/styles/variable' as v;

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  .image {
    width: 55px;
    height: 55px;
    padding: 2px;
    margin-right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    border: 1px solid v.$primary-color;

    overflow: hidden;
    object-fit: cover;
  }
  h3 {
    color: v.$primary-color;
    font-size: 1.5rem;
  }
}
