@use 'assets/styles/variable' as v;

.container {
  .answer,
  .waiting,
  .result {
    width: 900px;
    margin: 0 auto;
    h1, h2 {
      text-align: center;
    }
    h1 {
      font-weight: bold;
      font-size: 2.5rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }
  .answer {
    .answer-list {
      width: 100%;
      flex-wrap: wrap;
      .answer-choice {
        width: 50%;
        height: 114px;
        > div {
          height: 100%;
          border: 1px solid v.$primary-color;
          border-radius: 10px;
        }
      }
    }
  }
  .waiting {
    height: 400px;
  }
  .result {
    .sub-header {
      svg,
      .title {
        font-size: 1.5rem;
        color: v.$primary-color;
      }
    }
  }
}
