@use 'assets/styles/variable' as v;

.container {
  position: relative;
  .button-group {
    position: absolute;
    right: 0;
    .notification {
      width: 10px;
      height: 10px;
      background: #ff0000;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: 0;
      left: 15px;
    }
  }
  .answer,
  .waiting,
  .result {
    width: 900px;
    margin: 0 auto;
    h1,
    h2 {
      text-align: center;
    }
    h1 {
      font-weight: bold;
      font-size: 2.5rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }
  .answer {
    .answer-list {
      width: 100%;
      flex-wrap: wrap;
      .answer-choice {
        width: 50%;
        height: 114px;
        > div.owner-view {
          height: 100%;
          border: 1px solid v.$primary-color;
          color: v.$primary-color;
          border-radius: 10px;
        }
        > .ant-checkbox-wrapper {
          height: 100%;
          border: 1px solid v.$primary-color;
          color: v.$primary-color;
          border-radius: 10px;
          transition: all 0.2s ease;
          > .ant-checkbox {
            display: none;
          }
          &.ant-checkbox-wrapper-checked {
            background: v.$primary-color;
            color: #fff;
          }
        }
      }
    }
  }
  .waiting,
  .end-game {
    height: 400px;
  }
  .result {
    .sub-header {
      svg,
      .title {
        font-size: 1.5rem;
        color: v.$primary-color;
      }
    }
    .list-answer {
      height: 280px;
      overflow-y: auto;
    }
  }
}
