$mobile-width: 480px;
$sm-tablet-width: 600px;
$tablet-width: 768px;
$desktop-width: 1200px;

$primary-color: #1C6758;
$link-color: #1890ff; 
$success-color: #52c41a;
$warning-color: #faad14;
$error-color: #f5222d;
$grey-color: #D8DDDC;
