$mobile-width: 480px;
$sm-tablet-width: 600px;
$tablet-width: 768px;
$desktop-width: 1200px;
$lg-desktop-width: 1440px;

$primary-color: #1C6758;
$secondary-color: #639572;
$link-color: #1890ff; 
$success-color: #52c41a;
$warning-color: #faad14;
$error-color: #f5222d;
$light-grey-color: #D8DDDC;
$dark-grey-color: #bbb;