@use './reset';
@import './mixin';

#App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .app-content {
    flex-grow: 1;
  }
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    @include tablet {
      padding: 0 90px;
    }
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  width: 100%;
  background-color: #ccc;
  border-radius: 2px;
}